/* roboto */
/* 

font-family: 'Roboto', sans-serif;

*/

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}







:root{
    /* var(--h-container) */
    --h-container: 100vh;
    
}
.container{
    height: var(--h-container);
    /* width: 700px; */
    display: flex;




    background-image: url("https://wallpapercave.com/wp/wp4511226.jpg");
    /* background-image: url("https://images.hdqwalls.com/wallpapers/milky-way-stars-4k-cr.jpg"); */
    object-fit: contain;
    background-repeat: no-repeat;
    
    /* debug */
    /* background-color: blue; */
}


:root{
    /* var(--w-sinistra) */
    --w-sinistra: 200px;
}
.sinistra{
    height: var(--h-container);
    width: var(--w-sinistra);

    overflow: scroll;




    /* debug */
    /* background-color: rgb(0, 0, 0); */
}


:root{
    /* var(--w-centro) */
    --w-centro: calc(100% - var(--w-sinistra) - var(--w-destra));
}
.centro{
    height: var(--h-container);
    width: var(--w-centro);
    

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;




    /* debug */
    /* background-color: rgb(151, 18, 18); */
}



:root{
    /* var(--w-destra) */
    --w-destra: var(--w-sinistra);
}
.destra{
    height: var(--h-container);
    width: var(--w-destra);

    /* overflow: scroll; */




    /* debug */
    /* background-color: rgb(89, 151, 18); */
}



:root{
    /* var(--h-risposta) */
    --h-risposta: 150px;
    /* var(--w-risposta) */
    --w-risposta: 100%;
}
.risposta{
    height: var(--h-risposta);
    width:  var(--w-risposta);
    padding: 10px 30px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    
    overflow: scroll;

    color: white;




    /* debug */
    /* background-color: rgba(163, 64, 87, 0.514); */
}
.clue{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    min-height: 50px;
    
    color: white;
    border-radius: 10px;

    background-color: rgba(0, 0, 0, 0.712);
}

:root{
    /* var(--h-finestra) */
    --h-finestra: 100%;
    /* var(--w-finestra) */
    --w-finestra: 100%;
}
.finestra{
    height: var(--h-finestra);
    width:  var(--w-finestra);
    
    
    overflow: scroll;


    



    /* debug */
    /* background-color: rgb(0, 255, 153); */
}


:root{
    /* var(--padd-finestra-centro) */
    --padd-finestra-centro: 50px;
    /* var(--h-finestra-centro) */
    --h-finestra-centro: calc(var(--h-container) - var(--h-risposta) - 2 * var(--padd-finestra-centro));
}
.centro .finestra{
    margin-bottom: var(--padd-finestra-centro);
    height: var(--h-finestra-centro);
}


.etichetta{
    background-color: rgb(255, 255, 255);
    position: fixed;
    height: 30px;
    display: flex;
    align-items: center;
}

.etic1{
    top: calc(var(--h-risposta) +  var(--padd-finestra-centro) + 20px);
    padding-left: 70px;
    padding-right: 30px;
    border-radius: 0 10px 10px 0;
}



.etic2{
    bottom: calc( var(--padd-finestra-centro) + 20px);
    right: var(--w-destra);
    padding-left: 30px;
    padding-right: 70px;
    border-radius: 10px 0 0 10px ;
}



:root{
    
    /* var(--w-card) */
    --w-card: 100px;
    /* var(--h-card) */
    --h-card: calc(var(--w-card) / 1.6180339887);
}
.card{
    height: var(--h-card);
    width:  var(--w-card);
    margin-left: calc((100% - var(--w-card))/2);
    margin-right: calc((100% - var(--w-card))/2);
    border-radius: calc(var(--h-card) * 0.3);
    




    /* debug */
    background-color: rgb(9, 63, 50);
}



.centro .card{
    
    /* var(--w-card) */
    --w-card: 600px;
    /* var(--h-card) */
    --h-card: calc(var(--w-card) / 1.6180339887);
    margin-top: calc(var(--h-card) / 2);
    margin-bottom: calc(var(--h-card) / 2);
    /* margin-bottom: calc((100% - var(--h-card))/2); */

    
    object-fit: cover;

    overflow: hidden;



    /* debug */
    /* background-color: rgb(255, 0, 0); */
}

.centrato{

    display: flex;
    justify-content: center;
    align-items: center;


    height: 200px;

    /* background-color: darkgrey; */
}


.trans{
    transition: all 1s linear 0s;
}

.trick1:hover{
    width: var(--h-card);
}
.trick1:active{
    width: 100%;
}
.trick1:active{
    /* var(--w-card) */
    --w-card: 200px;
    margin-left: calc((100% - var(--w-card))/2);
    margin-right: calc((100% - var(--w-card))/2);
}
.trick2:hover{
    background-color: blue;
}
.trick2:active{
    background-color: rgb(0, 255, 55);
}
.trick3:hover{

    border-radius: 50%;
}
.trick3:active{

    background-color: mediumvioletred;
}
.trick4:hover{
    width: var(--h-card);
    border-radius: 50%;
}
.trick4:active{
    background-color: rgba(255, 0, 0, 0);
}
.trick5:hover{
    height: 100px;
}
.trick5:active{
    height: 1px;
    width: 1px;
    border-radius: 0;
}

.img{
    height: 100%;
    width: 100%;
    /* border-radius: 20px; */
}


.info{
    background-color: aliceblue;
    border-radius: 7px;
    width: 80%;
    padding: 10px;
    margin-top: 30px;
}

/* responsive
********************************* */
@media screen and (max-width: 1030px){
    
    :root{
        /* var(--w-sinistra) */
        --w-sinistra: 0px;
        /* var(--w-destra) */
        --w-destra: var(--w-sinistra);
    }
}
@media screen and (max-width: 700px){
    .centro .card{
    
        /* var(--w-card) */
        --w-card: 400px;
        
    }

}
@media screen and (max-width: 413px){
    .centro .card{
    
        /* var(--w-card) */
        --w-card: 200px;
        
    }

    .etichetta{
        display: none;
    }

}
